[submodule ".vim/pack/ide/start/ctrlp"]
	path = .vim/pack/ide/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/ide/start/nerdtree"]
	path = .vim/pack/ide/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/ide/start/syntastic"]
	path = .vim/pack/ide/start/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/pack/ide/start/airline"]
	path = .vim/pack/ide/start/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/ide/start/yajs"]
	path = .vim/pack/ide/start/yajs
	url = https://github.com/othree/yajs.vim.git
[submodule ".vim/pack/ide/start/signify"]
	path = .vim/pack/ide/start/signify
	url = https://github.com/mhinz/vim-signify.git
[submodule ".vim/pack/ide/start/tagbar"]
	path = .vim/pack/ide/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/pack/ide/start/tlib"]
	path = .vim/pack/ide/start/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/pack/ide/opt/ctrlsf"]
	path = .vim/pack/ide/opt/ctrlsf
	url = https://github.com/dyng/ctrlsf.vim.git
[submodule ".vim/pack/ide/start/nerdcommenter"]
	path = .vim/pack/ide/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule ".vim/pack/ide/start/fugitive"]
	path = .vim/pack/ide/start/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/pack/ide/start/gutentags"]
	path = .vim/pack/ide/start/gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
